<!-- accounts social | reusable -->
<div class="social-links">
  <div class="social-links--content">
    <a (click)="socialLogin('facebook')" class="link--facebook" title="Facebook">
      <span class="sr-only">Facebook</span>
      <i class="fa fa-facebook"></i>
    </a>
    <a (click)="socialLogin('twitter')" class="link--twitter" title="Twitter">
      <span class="sr-only">Twitter</span>
      <i class="fa fa-twitter"></i>
    </a>
    <a (click)="socialLogin('google')" class="link--google" title="Google+">
      <span class="sr-only">Google+</span>
      <i class="fa fa-google"></i>
    </a>
  </div>
</div>

<h3 class="logo">Register</h3>

<section class="outer-form">
  <!-- accounts form -->
  <form (submit)="submit($event)"
        [ng-form-model]="accountsForm" novalidate>

    <div class="outer-form--group">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" ng-control="username" placeholder="username" autofocus>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" ng-control="email" placeholder="email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" ng-control="password" placeholder="password">
      </div>
    </div>

    <!-- accounts social -->
    <div class="social-icons">
      <div class="social-icon" *ng-for="#s of socialChoices">
        <label>{{s.name}}</label>
        <a (click)="socialLogin(s.name)">{{s.name}}
        </a>
      </div>
    </div>

    <!-- accounts submit -->
    <submit-button></submit-button>

  </form>
</section>