.main-message {
  background: #ffffff;
  color: #999999;
  border-left: 3px solid transparent;
  border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  height: 0;
  padding: 0 20px 0 17px;
  opacity: 0;
  transition: all ease-in-out 200ms;
}
.main-message.show {
  height: auto;
  opacity: 1;
  padding: 10px 20px 10px 17px;
}
.main-message.success {
  border-left-color: #2ecc71;
}
.main-message.error {
  border-left-color: #e74c3c;
}