.accounts-ui {
  .social-links {
    margin: 10px auto 0 auto;
    max-width: 300px;
    text-align: center;
    display: block;

    .social-links--content {
      @extend .container;
      @include make-row();
      //display: inline-block;

      a {
        @extend .btn;
        @extend .btn-primary;
        @include make-xs-column(6);
        @include make-sm-column(1);


        margin: 5px;
        width: 100%;
        font-size: 250%;
        padding: 0;
      }

      .link--google {
        background-color: #da573b;
        border-color: #be5238;
      }
      .link--google:hover {
        background-color: #be5238;
        border-color: #9b4631;
      }

      .link--twitter {
        background-color: #1daee3;
        border-color: #3997ba;
      }
      .link--twitter:hover {
        background-color: #3997ba;
        border-color: #347b95;
      }

      .link--facebook {
        background-color: #4c699e;
        border-color: #47618d;
      }
      .link--facebook:hover {
        background-color: #47618d;
        border-color: #3c5173;
      }

      .link--linkedin {
        background-color: #4875B4;
        border-color: #466b99;
      }
      .link--linkedin:hover {
        background-color: #466b99;
        border-color: #3b5a7c;
      }
    }
  }
}