<div ng-controller="AppCtrl as app">
  <!-- Select # of Docs 500 | 1000 | 2500 | 5000 -->

  <section class="mdl-grid">
    <div class="mdl-cell mdl-cell--10-col counts">
      <span class="title">Item Count:&nbsp;</span>

      <button ng-repeat="count in app.counts"
              ng-click="app.setCountValue(count)" class="mdl-button" id="{{'count-' + count}}">{{count}}</button>

      <button ng-click="app.runTest()" id="run"
              class="mdl-button mdl-button--primary mdl-js-button mdl-button--raised mdl-js-ripple-effect">Run
      </button>
      <button ng-click="app.reset()" id="reset"
              class="mdl-button mdl-button--accent mdl-js-button mdl-button--raised mdl-js-ripple-effect">Reset
      </button>
    </div>

  </section>

  <!-- table -->
  <section>

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
      <tr>
        <th>Index</th>
        <th class="mdl-data-table__cell--non-numeric">Color</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Surname</th>
        <th class="mdl-data-table__cell--non-numeric">Full Name</th>
        <th class="mdl-data-table__cell--non-numeric">Username</th>
        <th class="mdl-data-table__cell--non-numeric">Email</th>
        <th>Number</th>
        <th class="mdl-data-table__cell--non-numeric">Title</th>
        <th class="mdl-data-table__cell--non-numeric">Paragraph</th>
      </tr>
      </thead>
      <tbody id="rows">
      <tr ng-repeat="item in app.rows track by $index">
        <td>{{$index + 1}}</td>
        <td ng-style="{color: item.color}">&#9679;</td>
        <td>{{item.profile.name}}</td>
        <td>{{item.profile.surname}}</td>
        <td>{{item.profile.name}} {{item.profile.surname}}</td>
        <td>{{item.username}}</td>
        <td>{{item.profile.email}}</td>
        <td>{{item.number}}</td>
        <td>{{item.title}}</td>
        <td>{{item.description}}</td>
      </tr>
      </tbody>
    </table>

  </section>
  <!-- end app -->
</div>