<!-- accounts social | reusable -->
<div class="social-links">
  <div class="social-links--content">
    <a (click)="socialLogin('facebook')" class="link--facebook" title="Facebook">
      <span class="sr-only">Facebook</span>
      <i class="fa fa-facebook"></i>
    </a>
    <a (click)="socialLogin('twitter')" class="link--twitter" title="Twitter">
      <span class="sr-only">Twitter</span>
      <i class="fa fa-twitter"></i>
    </a>
    <a (click)="socialLogin('google')" class="link--google" title="Google+">
      <span class="sr-only">Google+</span>
      <i class="fa fa-google"></i>
    </a>
  </div>
</div>

<!-- error / success message | reusable -->
<div class="main-message" *ng-if="message" [class.error]="!message.success" [class.success]="message.success">
  {{message.content}}
</div>

<h3 class="logo">Login</h3>

<section class="outer-form">
  <!-- accounts form -->
  <form (submit)="submit($event, accountsForm.value)"
        [ng-form-model]="accountsForm" novalidate>

    <div class="outer-form--group">
      <div class="form-group">
        <label for="usernameOrEmail">Username/Email</label>
        <input type="text" id="usernameOrEmail" ng-control="usernameOrEmail" placeholder="email or username" autofocus>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" ng-control="password" placeholder="password">
      </div>
    </div>

    <!-- accounts submit -->
    <!--<button type="submit">-->
    <!--<span *ng-if="!processing && !success">▸</span>-->
    <!--<i *ng-if="processing" class="fa fa-spinner fa-pulse"></i>-->
    <!--</button>-->
    <submit-button></submit-button>


  </form>
</section>