<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <p>Number of Items:</p>
    <button ng-click="count.changeCount(0)" class="mdl-button mdl-button--primary mdl-js-button mdl-button--raised mdl-js-ripple-effect">Reset</button>
    <button ng-click="count.changeCount(500)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">500</button>
    <button ng-click="count.changeCount(1000)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">1000</button>
    <button ng-click="count.changeCount(2500)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">2500</button>
    <button ng-click="count.changeCount(5000)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">5000</button>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
    <p>Average: ##ms</p>
    <p>Duration: ##ms</p>
    <p>Reload: ##ms</p>
  </div>
</section>