<!-- Select # of Docs 500 | 1000 | 2500 | 5000 -->
<!--<item-count></item-count>-->

<!-- table -->
<section>

  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
    <tr>
      <!--<th>Index</th>-->
      <th class="mdl-data-table__cell--non-numeric">Color</th>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Surname</th>
      <th class="mdl-data-table__cell--non-numeric">Full Name</th>
      <th class="mdl-data-table__cell--non-numeric">Username</th>
      <th class="mdl-data-table__cell--non-numeric">Email</th>
      <th>Number</th>
      <th class="mdl-data-table__cell--non-numeric">Title</th>
      <th class="mdl-data-table__cell--non-numeric">Paragraph</th>
    </tr>
    </thead>

    <item-rows></item-rows>

  </table>
</section>