<!-- login | register | forgot-password -->
<section [ng-switch]="page" class="accounts-ui">

  <template [ng-switch-when]="'login'">
    <accounts-login></accounts-login>
  </template>

  <template [ng-switch-when]="'register'">
    <accounts-register></accounts-register>
  </template>

  <template [ng-switch-when]="'passwordReset'">
    <accounts-forgot-password></accounts-forgot-password>
  </template>

  <div class="redirects">
    <p *ng-if="page !== 'login'">Already have an account? <a (click)="redirect('login')">Login here</a></p>

    <p *ng-if="page !== 'register'">New user? <a (click)="redirect('register')">Create new account</a></p>

    <p *ng-if="page !== 'passwordReset'">Forgot your password? <a (click)="redirect('passwordReset')">Send reset</a></p>
  </div>

</section>