/**
* Chat
* Elements borrowed from
* http://bootsnipp.com/snippets/featured/collapsible-chat-widget
*/
.chat-window {
  max-width: 520px;
  min-width: 340px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #36383a;
  color: #474c57;
  border-radius: 20px;
  padding: 50px 15px;
}

.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.panel .glyphicon, .chat .glyphicon
{
  margin-right: 5px;
}

.panel-body
{
  overflow-y: scroll;
  height: 400px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}


/* Messages */

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
  margin-left: 60px;
}

.chat li.right .chat-body
{
  margin-right: 60px;
}

.chat li .chat-body p
{
  margin: 0;
  color: #777777;
}

.img-circle {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  /* Cleaner, but slightly less support: use "50%" as value */
}