<section class="outer-form">
  <!-- accounts form -->
  <form (submit)="submit($event, accountsForm.value)"
        [ng-form-model]="accountsForm" novalidate>

    <h3 class="logo">Login</h3>

    <div class="outer-form--group">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" ng-control="username" placeholder="username" autofocus>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" ng-control="email" placeholder="email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" ng-control="password" placeholder="password">
      </div>
    </div>
    <!-- accounts social -->
    <div class="social-icons">
      <div class="social-icon">
        <label for="facebook"></label>
        <i class=""></i>
      </div>
    </div>

    <!-- accounts submit -->
    <button type="submit">▸</button>

  </form>
</section>